*{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}
body{
    background-color: rgb(206, 231, 240);
}
.container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 43%;
    border: 1px solid grey;
    border-radius: 10px;
    background-color:yellow(245, 214, 219);
}
.container>p{
    text-align: center;
    margin-top: 160px;
    padding: 10px;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Estonia', cursive;
    font-size: 4em;
}